@{
}

@if (ViewBag.ErrorMessage != null)
{
		<div class="alert alert-warning alert-dismissible fade show" role="alert">
			<strong>@ViewBag.ErrorMessage</strong>
			<button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
		</div>
}

<table class="table" border="1" id="file">  
	<thead>
		<tr>
			<th rowspan="2">Б/сч</th>
			<th colspan="2">Входящее сальдо</th>
			<th colspan="2">Обороты</th>
			<th colspan="2">Исходящее сальдо</th>
		</tr>
		<tr>
			<th>Актив</th>
			<th>Пассив</th>
			<th>Дебет</th>
			<th>Кредит</th>
			<th>Актив</th>
			<th>Пассив</th>
		</tr>
	</thead>
	<tbody>
		@{
			int counter = 0;

			for (int i = 0; i < ViewBag.Classes.Count; i++)
			{
				<tr>
					<th colspan="7">@ViewBag.Classes[i].Title</th>
				</tr>



				<tr class="total">
					<td>ПО КЛАССУ</td>
					<td>@ViewBag.Classes[i].OpeningBalanceActive</td>
					<td>@ViewBag.Classes[i].OpeningBalancePassive</td>
					<td>@ViewBag.Classes[i].TurnoverDebit</td>
					<td>@ViewBag.Classes[i].TurnoverCredit</td>
					<td>@ViewBag.Classes[i].ClosingBalanceActive</td>
					<td>@ViewBag.Classes[i].ClosingBalancePassive</td>
				</tr>
			}

			<tr class="total">
				<td>БАЛАНС</td>
				<td>@ViewBag.File.OpeningBalanceActive</td>
				<td>@ViewBag.File.OpeningBalancePassive</td>
				<td>@ViewBag.File.TurnoverDebit</td>
				<td>@ViewBag.File.TurnoverCredit</td>
				<td>@ViewBag.File.ClosingBalanceActive</td>
				<td>@ViewBag.File.ClosingBalancePassive</td>
			</tr>
		}
	</tbody>
</table>